<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yaDM</title>
    <link rel="stylesheet" href="../../style/style-common.css">
    <link rel="stylesheet" href="../../style/style-desktop.css">
</head>
<body>
<header class="yadm-nav-container">
    <nav class="yadm-nav">
        <ul class="yadm-nav-menu yadm-nav-menu-left">
            <li class="nav-menu-item nav-menu-textbtn"><a href="#">yaDM</a></li>
            <li class="nav-menu-item nav-menu-textbtn"><a href="#">Dashboard</a></li>
            <li class="nav-menu-item nav-menu-textbtn"><a href="#">Systems</a></li>
        </ul>
        <ul class="yadm-nav-menu yadm-nav-menu-right">
            <li class="nav-menu-item nav-menu-iconbtn"><a href="#"><span class="yadm-nav-icon">info</span></a></li>
            <li class="nav-menu-item nav-menu-iconbtn"><a href="#"><span class="yadm-nav-icon-description">root</span><span class="yadm-nav-icon">person</span></a></li>
        </ul>
    </nav>
</header>
</body>
</html>