<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - yaDM</title>
    <link rel="stylesheet" href="../../style/style-common.css">
    <link rel="stylesheet" href="../../style/style-desktop.css">
    <link rel="stylesheet" href="../../style/style-minimaterial.css">
</head>
<body class="yadm-login-body">
    <header class="yadm-nav-container">
        <nav class="yadm-nav">
            <ul class="yadm-nav-menu yadm-nav-menu-left">
                <li class="nav-menu-item nav-menu-textbtn"><a href="#">yaDM</a></li>
                <li class="nav-menu-item nav-menu-textbtn"><a href="#">Dashboard</a></li>
                <li class="nav-menu-item nav-menu-textbtn"><a href="#">Systems</a></li>
            </ul>
            <ul class="yadm-nav-menu yadm-nav-menu-right">
                <li class="nav-menu-item nav-menu-iconbtn"><a href="#"><span class="yadm-nav-icon">info</span></a></li>
                <li class="nav-menu-item nav-menu-iconbtn"><a href="#"><span class="yadm-nav-icon-description">root</span><span class="yadm-nav-icon">person</span></a></li>
            </ul>
        </nav>
    </header>

    <main class="yadm-main yadm-main-darktransparent">

        <div class="yadm-login-container">

            <form action="login.php" method="post">

                <h1>Login - yaDM</h1>

                <div class="material-form-field-container">
                    <div class="material-text-container" id="material-input-password"> <label class="material-textbox-label">Username</label><input class="material-input-element material-textbox" type="text" placeholder="text"><hr /></div>
                    <div class="material-text-container" id="material-input-username"> <label class="material-textbox-label">Password</label><input class="material-input-element material-textbox" type="password" placeholder="text"><hr /></div>
                    <div class="material-input-container material-button-container" id="material-input-submit"><input class="material-input-element material-textbox" type="button" value="login"></div>
                </div>

            </form>

        </div>

    </main>

    <span class="yadm-background-credit"><span>Image: Seashore Scenery</span> <span>Author: Greg</span> <span>https://www.pexels.com/photo/seashore-scenery-2418664</span></span>

</body>
</html>