<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yaDM</title>
    <link rel="stylesheet" href="../../style/style-common.css">
    <link rel="stylesheet" href="../../style/style-desktop.css">
    <script src="../../script/presentation-script.js"></script>
</head>
<body>
<header class="yadm-nav-container">
    <nav class="yadm-nav">
        <ul class="yadm-nav-menu yadm-nav-menu-left">
            <li class="nav-menu-item nav-menu-textbtn"><a href="#">yaDM</a></li>
            <li class="nav-menu-item nav-menu-textbtn"><a href="#">Dashboard</a></li>
            <li class="nav-menu-item nav-menu-textbtn"><a href="#">Systems</a></li>
        </ul>
        <ul class="yadm-nav-menu yadm-nav-menu-right">
            <li class="nav-menu-item nav-menu-iconbtn"><a href="#"><span class="yadm-nav-icon">info</span></a></li>
            <li class="nav-menu-item nav-menu-iconbtn"><a href="#"><span class="yadm-nav-icon-description">root</span><span class="yadm-nav-icon">person</span></a></li>
        </ul>
    </nav>
</header>

<!-- Template Start: -->
<main class="yadm-main">
    <div class="yadm-dash-header">
        <h1>yaDM</h1>
        <h2>Yet-Another-oh shit something fell on my keyboarD-Manager</h2>
        <h3>Version: 0.0.0f</h3>
    </div>
    <div class="yadm-dash-container yadm-dash-gauge-container">
        <div class="yadm-gauge yadm-gauge-bignumber">
            <span class="yadm-gauge-title">Online Systems</span>
            <span class="yadm-gauge-value">326</span>
        </div>

        <div class="yadm-gauge yadm-gauge-bignumber">
            <span class="yadm-gauge-title">Uptime</span>
            <span class="yadm-gauge-value">80%</span>
        </div>

        <div class="yadm-gauge yadm-gauge-roundbar">
            <span class="yadm-gauge-title">Raid Restore</span>
            <span class="yadm-gauge-value">80%</span>
        </div>

<!--        <div class="yadm-gauge">-->

<!--        </div>-->

<!--        <div class="yadm-gauge">-->

<!--        </div>-->

<!--        <div class="yadm-gauge">-->

<!--        </div>-->
    </div>

    <div class="yadm-dash-container yadm-dash-summary">
        <div class="yadm-table-container">
            <table class="yadm-table yadm-table-invisible">
                <thead>
                <tr>
                    <th colspan="2">yaDM Systems</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>foo</td>
                        <td>bar</td>
                    </tr>
                    <tr>
                        <td>foo</td>
                        <td>bar</td>
                    </tr>
                    <tr>
                        <td>foo</td>
                        <td>bar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="yadm-dash-container yadm-dash-system-list">
        <div class="yadm-button-container"><input type="button" value="Systems" class="yadm-button yadm-button-righticon" onclick="showHideID('yadm-systemlist-container');"></div>
        <div class="yadm-dash-system-list-table-container" id="yadm-systemlist-container">
            <div class="yadm-table-container">
                <table class="yadm-table yadm-table-invisible">
                    <thead>
                    <tr>
                        <th colspan="2">yaDM Systems</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>foo</td>
                        <td>bar</td>
                    </tr>
                    <tr>
                        <td>foo</td>
                        <td>bar</td>
                    </tr>
                    <tr>
                        <td>foo</td>
                        <td>bar</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- Template End: -->
</body>
</html>